# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

output/
videos/
slam/depth_estimation/
slam/external/
weights/

# macOS system files
.DS_Store

# VSCode settings (if using)
.vscode/

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Logs and cache
*.log
*.cache
